*{margin:0;padding:0;}
ul,li{list-style:none;}
a{text-decoration:none;color:black;font-family: 'Nanum Gothic', sans-serif;}
a:hover{text-decoration:none;}
img{border:0;width:100%;height:100%;}
div{font-family: 'Nanum Gothic', sans-serif;}