* {
    margin: 0;
    padding: 0;
}

ul,li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

img {
    border: 0;
    width: 100%;
    height: 100%;
}

body{
    
}

header{
    width: 100%;
    height: 54.3371px;
    padding-top: 5.6629px;
    background-color: #000;
}

.logo{
    width: 50px;
    height: 48.7291px;
    margin: 0 auto;
    background-image: url(twentyImg/logo.png);
}

nav{
    width: 100px;
    height: 860.7607px;
    position: fixed;
    top: 120px;
    right: 14.062px;
    z-index: 2;
}

.myPage{
    width: 33.9024px;
    height: 33.9024px;
    margin: 0 auto;
    margin-bottom: 32.8989px;
    background-image: url(../img/%EC%9E%90%EC%82%B0%203.png);
    background-size: 100% 100%;
}

.heart{
    width: 39.4735px;
    height: 29.9052px;
    margin: 0 auto;
    margin-bottom: 32.8989px;
    background-image: url(../img/%EC%9E%90%EC%82%B0%204.png);
    background-size: 100% 100%;
}

.shoppingBasket{
    width: 37.0807px;
    height: 38.592px;
    margin: 0 auto;
    background-image: url(../img/%EC%9E%90%EC%82%B0%205.png);
    background-size: 100% 100%;
}

.helpBot{
    width: 80px;
    height: 80px;
    /*margin: 0 auto;*/
    position: absolute;
    left: 10px;
    bottom: 0;
    background-image: url(../img/%EC%9E%90%EC%82%B0%206.png);
    background-size: 100% 100%;
}

section{
    
}

.bannerContainer{
    width: 100%;
    height: 1020px;
    position: relative;
    overflow: hidden;
    background-color:#D1D1D1;
}

.bannerMask{
    width: 400%;
    height: 100%;
}

.banner{
    width: 1920px;
    height: 100%;
}

.bannerImg{
    width: 1311.445px;
    height: 921.9144px;
    display: block;
    margin: 0 auto;
}

.bannerBarBox{
    width: 360px;
    height: 30px;
    position: absolute;
    left: 780px;
    bottom: 45px;
    z-index: 1;
}

.bannerBar{
    width: 80px;
    border: 1px solid #999999;
    float: left;
    margin-top: 15px;
    margin-right: 13.3px;
    box-sizing: border-box;
    cursor: pointer;
}

.bannerBar:nth-child(4){
    margin-right: 0px;
}

.barOn{
    border-color: black;
}

.newArrivalContainer{
    width: 1920px;
    height: 1441.4138px;
    margin: 120px auto;
}

.title{
    width: 314.0234px;
    height: 45.2803px;
    margin: 0 auto;
    background-image: url(../img/%EC%9E%90%EC%82%B0%207.png);
    background-size: 100% 100%;
}
