body{
    width: 1920px;
    font-family: 'Noto Sans KR', sans-serif;
}

body::-webkit-scrollbar{
    width: 14px;
}

body::-webkit-scrollbar-thumb{
    width: 12px;
    height: 70px;
    background-color: #000;
    border-radius: 10px;
}

header{
    width: 100%;
    height: 54.3371px;
    padding-top: 5.6629px;
    background-color: #000;
}

.logo{
    width: 50px;
    height: 48.7291px;
    margin: 0 auto;
    background-image: url(../Img/logo.png);
}

nav{
    width: 100px;
    height: 860.7607px;
    position: fixed;
    top: 120px;
    right: 14.062px;
    z-index: 2;
}

.myPage{
    width: 33.9024px;
    height: 33.9024px;
    margin: 0 auto;
    margin-bottom: 32.8989px;
    background-image: url(../Img/myPage.png);
    background-size: 100% 100%;
}

.heart{
    width: 39.4735px;
    height: 29.9052px;
    margin: 0 auto;
    margin-bottom: 32.8989px;
    background-image: url(../Img/heart.png);
    background-size: 100% 100%;
}

.shoppingBasket{
    width: 37.0807px;
    height: 38.592px;
    margin: 0 auto;
    background-image: url(../Img/shoppingBasket.png);
    background-size: 100% 100%;
}

.helpBot{
    width: 80px;
    height: 80px;
    /*margin: 0 auto;*/
    position: absolute;
    left: 10px;
    bottom: 0;
    background-image: url(../Img/helpBot.png);
    background-size: 100% 100%;
}

section{
    
}

.bannerContainer{
    width: 100%;
    height: 1020px;
    position: relative;
    overflow: hidden;
    background-color:#D1D1D1;
}

.bannerMask{
    width: 400%;
    height: 1020px;
    position: absolute;
    transition: transform 2s;
}

.banner{
    width: 1920px;
    height: 1020px;
    float: left;
    box-sizing: border-box;
}

.banner:nth-child(2){
    border: 1px solid red;
}

.banner:nth-child(3){
    border: 1px solid blue;
}

.banner:nth-child(4){
    border: 1px solid yellow;
}

.bannerImg{
    width: 1311.445px;
    height: 921.9144px;
    display: block;
    margin: 0 auto;
}

.bannerBarBox{
    width: 360px;
    height: 30px;
    position: absolute;
    left: 780px;
    bottom: 45px;
    z-index: 1;
}

.bannerBar{
    width: 80px;
    border: 1px solid #999999;
    float: left;
    margin-top: 15px;
    margin-right: 13.3px;
    box-sizing: border-box;
    cursor: pointer;
}

.bannerBar:nth-child(4){
    margin-right: 0px;
}

.newArrivalContainer{
    width: 1920px;
    /*height: 1441.4138px;*/
    height: 811.4138px;
    margin: 120px auto 130px;
}

.title{
    width: 314.0234px;
    height: 45.2803px;
    margin: 0 auto;
    background-image: url(../Img/newarrival.png);
    background-size: 100% 100%;
}

.productContainer{
    width: 1425.6524px;
    height: 675.8743px;
    overflow: hidden;
    margin: 100px auto 130px auto;
}

.productMask{
    width: 400%;
    height: 600.8743px;
    overflow: hidden;
}

.productBox{
    width: 1425.6524px;
    height: 600.8743px;
}

.product{
    width: 447.1623px;
    height: 600.8743px;
    float: left;
    margin-right: 41.9215px;
    position: relative;
    background-image: url(../Img/product.jpg);
    background-size: 100% 100%;
}

.product:last-child{
    margin-right: 0;
}

.dc{
    width: 54.0684px;
    height: 97.8167px;
    position: absolute;
    left: 41.9215px;
    background-image: url(../Img/dc.png);
    background-size: 100% 100%;
}

.heart_1{
    width: 83.8429px;
    height: 83.8429px;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-image: url(../Img/heart-1.png);
    background-size: 100% 100%;
}

.productHoverBox{
    width: 100%;
    height: 100%;
    display: none;
}

.hoverColor{
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 50%;
    position: absolute;
}

.productText{
    /*width: 286.8286px;
    height: 87.686px;*/
    text-align: center;
    color: #fff;
    position: absolute;
    left: 80px;
    top: 256.59415px;
}

.productTitle{
    font-size: 26px;
}

.price{
    font-size: 22px;
}

.productBarBox{
    width: 330px;
    height: 25px;
    margin: 50px auto 0;
}

.productBar{
    width: 70px;
    border: 1px solid #999999;
    float: left;
    margin-top: 12.5px;
    margin-right: 16.6px;
    box-sizing: border-box;
    cursor: pointer;
}

.productBar:nth-child(4){
    margin-right: 0px;
}

.pointContinaer{
    width: 1920px;
    height: 500px;
    position: relative;
    background-color: #E0DFDD;
}

.justbeyoutself{
    width: 719.9927px;
    height: 97.7974px;
    position: absolute;
    right: 255px;
    top: 136.1819px;
    background-image: url(../Img/justbeyoutself.png);
    background-size: 100% 100%;
}

.pointText{
    font-size: 20px;
    line-height: 35px;
    color: #383838;
    position: absolute;
    right: 520.8663px;
    top: 265.7058px;
}

.pointBut{
    width: 200px;
    height: 50px;
    background-color: #000;
    font-size: 26px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    right: 739.7053px;
    top: 325.3571px;
}

.pointBut a{
    color: #eee;
}

.barOn{
    border-color: black;
}
